.leftBox > .box > ul + ul > li label button {
	cursor: pointer;
	}
.banner_box {
	width: 100%;
	min-width: 1200px;
	position: relative;
	/*margin-bottom: 45px;*/
	}
.leftBox {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 20%;
	width: 480px;
	height: 300px;
	margin-left: -205px;
	}
.leftBox .box > i {
	display: block;
	width: 197px;
	height: 19px;
	/*margin-top:5px;*/
	/*margin-left:5px;*/
	/*margin-bottom: 15px;*/
	background: url("../images/new/icon.png") no-repeat 0 -401px;
	}
.leftBox > .box {
	width: 380px;
	height: 290px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    display: none;
	padding-top:15px;
	padding-left:10px;
}
.leftBox > .box > .quickClose{float:right;padding-right:10px;padding-top:5px;color:#FFB630;font-size:24px;cursor: pointer;}
#estimateBtn,#mortgageBtn{cursor: pointer;}
.leftBox > .box > ul { display: table-cell; vertical-align: top; }
.leftBox > .box > ul:first-child {
	width: 140px;
	height: 290px;
	}
.leftBox > .box > ul:first-child li {
	width: 100%;
	height: 144px;
	font-size: 18px;
	color: #fff;
	line-height: 145px;
	text-align: center;
	border-right: 1px solid #797c7f;
	cursor: pointer;
}
.leftBox > .box > ul:first-child li i {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 12px;
	background: url("../images/icon.png") no-repeat -329px 0;
	}
.leftBox > .box > ul:first-child li:first-child {
	border-bottom: 1px solid #797c7f;
	height: 145px;
	}
.leftBox > .box > ul:first-child li:last-child i {
	background-position-y: -30px;
	}
.leftBox > .box > ul:first-child li.active {
	background-color: #fff;
	color: #000;
	}
.leftBox > .box > ul:first-child li.active i {
	background-position-x: -295px;
}
.leftBox > .box > ul + ul {
	padding: 20px 0 0 57px;
	color: #000;
	font-size: 12px;
}
.leftBox > .box > ul + ul > li {
	display: none;
}
.leftBox > .box > ul + ul > li.active {
	display: block;
}
.leftBox > .box > ul + ul > li label {
	display: block;
	position: relative;
	margin-bottom: 27px;
}
.leftBox > .box > ul + ul > li label span {
	line-height: 38px;
	margin-right: 8px;
	color: #fff;
}
.leftBox > .box > ul + ul > li label b {
	display: inline-block;
	position: relative;
	font-style: normal;
	background-color: #fff;
	width: 129px;
	height: 18px;
	line-height: 18px;
	padding: 10px 40px 10px 22px;
}
.leftBox > .box > ul + ul > li label b:after {
	content: '';
	display: block;
	position: absolute;
	top: 11px;
	right: 15px;
	width: 16px;
	height: 16px;
	background: url("../images/icon.png") no-repeat -295px -60px;
}
.leftBox > .box > ul + ul > li label b.no {
	width: 147px;
	padding-right: 22px;
}
.leftBox > .box > ul + ul > li label b.no input {
	width: 82%;
}
.leftBox > .box > ul + ul > li label b.no:after {
	display: none;
}
.leftBox > .box > ul + ul > li label ul {
	display: none;
	position: absolute;
	z-index: 2;
	width: 191px;
	top: 38px;
	right: 0;
	background-color: #fff;
	line-height: 25px;
}
.leftBox > .box > ul + ul > li label ul li {
	padding: 0 10px;
}
.leftBox > .box > ul + ul > li label ul li.active, .leftBox > .box > ul + ul > li label ul li:hover {
	background-color: #dddddd;
	color: #9a6600;
}
.leftBox > .box > ul + ul > li label + label + label + label {
	text-align: right;
}
.leftBox > .box > ul + ul > li label button {
	width: 191px;
	height: 38px;
	color: #fff;
	font-size: 18px;
	line-height: 38px;
	background-color: #ffb636;
}
.imgBox {
	width: 100%;
	min-width: 1200px;
	height: 500px;
	overflow: hidden;
}
.imgBox ul {
	transition: transform 1s;
}
.imgBox li { display: table-cell; }
.imgBox li { background-color: #D2F2F0; }
.imgBox li + li { background-color: #D4B486; }
.imgBox li + li + li { background-color: #EDEDEA; }
.imgBox li + li + li + li { background: #B3D3DD; }
.imgBox li + li + li + li + li { background: #B98F63; }
.banner_nav_button{
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -166px;
	z-index: 2;
}
#mortgageBtn{padding-left:10px;}
.banner_nav {
	position: absolute;
	/*z-index: 3;*/ /* by donny */
	bottom: 10px;
	left: 50%;
	margin-left: -90px;
    width:320px;
}
.banner_nav span {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-right: 18px;
	background-color: #e1882a;
	opacity: .5;
	cursor: pointer;
}
.banner_nav span.active {
	opacity: 1;
}
/* 中间部分 title */
.title {
	position: relative;
	padding-bottom: 20px;
	/*border-bottom: 1px solid #9aa1a8;*/
	/*margin-bottom: 28px;*/
	width: 100%;
	display: table;
}
/*.title:after {*/
	/*content: '';*/
	/*display: block;*/
	/*position: absolute;*/
	/*width: 8px;*/
	/*height: 8px;*/
	/*background-color: #fff;*/
	/*border: 1px solid #9aa1a8;*/
	/*border-left-color: #fff;*/
	/*border-top-color: #fff;*/
	/*z-index: 1;*/
	/*bottom: -5px;*/
	/*left: 36px;*/
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
/*}*/
.title > * { display: table-cell; }
.title{padding-top:15px;}
.title h6 {
	font-size: 22px;
	line-height: 27px;
	vertical-align: text-bottom;
    border-left: 3px solid #0075F9;
    padding-left: 8px;
	}
.title .title_nav {
	flex-shrink: 0;
	width: 901px;
	font-size: 12px;
	padding-top: 10px;
}
.title .title_nav li { display: table-cell; width: 76px; }
.title h6 span {
	padding-left: 11px;
	font-size: 12px;
	line-height: 20px;
	color: #996600;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
}
.title small {
	width: 70px;
	padding-top: 10px;
	box-sizing: border-box;
	/*padding-right: 10px;*/
	font-size: 14px;
	text-align: right;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
}
.title small a{border-bottom:1px solid #000;padding-bottom:5px;}
/* 中间部分 title下内�?*/
.man_content {
	float:left;
    width: :;px;      
}
.t_nav {
	/*padding-left: 110px;*/
	padding-bottom: 18px;
	/*border-bottom: 1px solid #dddddd;*/
	/*margin-bottom: 28px;*/
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
}
.t_nav > * { display: table-cell; }
.t_nav_left {
	width: 202px;
	padding-right: 100px;
	font-size: 18px;
}
.t_nav_right {
}
.t_nav_right li {
	display: table-cell;
	position: relative;
	/*padding-right: 68px;*/
	cursor: pointer;
    height: 50px;
    line-height: 50px;
    width: 171.4px;
    text-align: center;
    font-size: 18px;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
}
.myhs li{border-right:1px solid #D1D1D1;}
.t_nav_right li.active{
	background-color: #e1882a;
    color: #fff;
}
.t_content { width: 100%; display: table; }
.t_content > * { display: table-cell; vertical-align: top; }
.t_content > li { display: none; }
.t_content > li.active { display: table; }
.t_content .t_c_left {
	padding-left: 40px;
	}
.t_content .t_c_left li {
	display: none;
	}
.t_content .t_c_left li.active {
	display: block;
	}
.t_content .w173 {
	width: 173px;
	padding: 0 72px 0 84px;
}
.w173 section + section a {
	display: inline-block;
	width: 50px;
	padding: 0 18px;
	}
.t_content .t_c_left .t_c_first {
	display: table;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 23px;
	margin-bottom: 20px;
}
.t_content .t_c_left .t_c_first > * { display: table-cell; vertical-align: top; }
.t_content .t_c_left .t_c_first div {
	padding: 10px 50px 0 26px;
	}
.t_content .t_c_left .t_c_first p {
	width: 179px;
	text-align: center;
	}
.t_content .t_c_left .t_c_first p > * {
	display: block;
	}
.t_content .t_c_left .t_c_first p b {
	font-size: 35px;
	color: #ff6b00;
	}
.t_content .t_c_left .t_c_first p a {
	background-color: #996600;
	font-size: 17px;
	line-height: 37px;
	height: 37px;
	color: #fff;
	margin-top: 16px;
	}
.t_content .t_c_left .t_c_second {
	display: table;
	width: 100%;
}
.t_content .t_c_left .t_c_second > * { display: inline-block; vertical-align: middle; }
.t_content .t_c_left .t_c_second img {
	margin: 0 30px 0 26px;
	}
.t_content .t_c_left .t_c_second div {
	font-size: 16px;
	line-height: 30px;
	margin-right: 46px;
	}
.t_content .t_c_left .t_c_second b {
	font-size: 25px;
	}
/* 抢购 */
.benefit_c {
	margin-bottom: 90px;
	overflow: hidden;
}
.benefit_c .benifit_l {
	vertical-align: top;
	display: table-cell;
	width: 289px;
	padding-right: 34px;
	}
.benefit_c .benifit_r {
	vertical-align: top;
	display: table-cell;
	width: 877px;
	}
.benefit_c .b_title {
	position: relative;
	width: 175px;
	height: 30px;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 8px;
	text-indent: 13px;
	background-color: #621618;
	}
.benefit_c .b_title:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	right: -10px;
	width: 22px;
	height: 22px;
	background-color: #fff;
	transform: rotate(45deg);
	}
.benefit_c .benifit_r .b_title {
	display: inline-block;
	background-color: #631616; }
.benefit_t { height: 38px; width: 100%; overflow: hidden; }
.benefit_t h6 {
	float: left;
	margin-right: 636px;
}
.benefit_t > section {
	vertical-align: top;
	display: inline-block;
}
.benefit_t span {
	display: block;
	float: left;
	width: 24px;
	height: 27px;
	background-color: #641516;
	color: #fff;
	font-size: 12px;
	line-height: 27px;
	text-align: center;
	margin-right: 9px;
	cursor: pointer;
	}
.benefit_r_c {
	width: 877px;
	height: 368px;
	overflow: hidden;
	}
.benefit_r_c ul {
	height: 368px;
	width: 100%;
}
.benefit_r_c ul li {
	float: left;
	overflow: hidden;
	width: 270px;
	height: 368px;
	padding: 27px 10px;
	box-sizing: border-box;
	border: 1px solid #ededed;
	border-top: 2px solid #606060;
	margin-right: 29px;
	text-align: center;
	}
.benefit_r_c ul li .com_l {
	color: #c0bbc1;
	font-size: 12px;
	margin-bottom: 10px;
	}
.benefit_r_c ul li .com_t { margin-bottom: 20px }
.benefit_r_c ul li .com_des {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	margin-bottom: 20px;
	}
.benefit_r_c ul li .com_des small {
	display: inline-block;
	padding: 0 3px;
	height: 19px;
	border-radius: 4px;
	background-color: #c30000;
	color: #fff;
	font-size: 12px;
	line-height: 19px;
	}
.benefit_r_c ul li .com_price {
	color: #e82e2e;
	font-size: 20px;
	margin-bottom: 20px;
	}
.benefit_r_c ul li .com_pic img {
	width: 168px;
	height: 168px;
	}
.t_content .w381 {
	display: table-cell;
	width: 381px;
	vertical-align: top;
}
.w381 section { width: 100%; }
.t_content .w381 .w381_nav {
	float: left;
	width: 120px;
}
.t_content .w381 .w381_nav li {
	line-height: 36px;
	font-size: 13px;
	text-align: center;
	background-color: #fafbfb;
	border-bottom: 1px solid #e1e1e1;
	cursor: pointer;
	}
.t_content .w381 .w381_nav li.active {
	color: #9a6600;
	}
.w381_con {
	width: 220px;
	float: right;
	padding-top: 26px;
}
.w381_con li {
	display: none;
	}
.w381_con li.active { display: block }
.w381_con li label {
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	display: block;
	margin-bottom: 22px;
	}
.w381_con li label span {
	display: block;
	float: left;
}
.w381_con li label input {
	float: right;
	padding: 0 10px;
	width: 134px;
	height: 28px;
	background-color: #fef4eb;
	border: 1px solid #ffd673;
	font-size: 12px;
	line-height: 28px;
	}
.grey_btn {
	margin: 24px 0 0 73px;
	width: 228px;
	height: 38px;
	text-align: center;
	background-color: #859ab4;
	color: #fff;
	font-size: 16px;
	line-height: 38px;
	cursor: pointer;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
	}
/* 资讯列表 */
.news_list { padding: 0 52px 40px 52px; }
.news_list li {
	border-bottom: 3px solid #f8f8f8;
	padding: 30px 0 9px 33px;
	position: relative;
	}
.news_list li:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #000;
	left: 0;
	top: 35px;
	}
/* 实时指数 */
.shi_title {
	position: relative;
	font-size: 20px;
	line-height: 40px;
	border-bottom: 2px solid #d8dce3;
	padding-left: 27px;
	margin-bottom: 20px;
	}
.shi_title:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 24px;
	top: 9px;
	left: 7px;
	background: linear-gradient(#cf9788, #fde1c7);
	border-radius: 2px;
	}
.zhi { margin-bottom: 90px; }
/* 门店地图 */
.dian_map h6 {
	position: relative;
	width: 283px;
	height: 30px;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 8px;
	text-indent: 21px;
	background-color: #a86c24;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
	}
.dian_map h6:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	right: -10px;
	width: 22px;
	height: 22px;
	background-color: #fff;
	transform: rotate(45deg);
	}
/* 形象店展�?*/
.shop_box {
	padding-bottom: 45px;
	}
.shop_box h6 {
	height: 53px;
	line-height: 53px;
	text-indent: 23px;
	font-size: 18px;
	background: linear-gradient(#f7f7f7, #e2e2e2);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
	}
.shop_box .shop_list {
	background-color: #dbdcdb;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 20px 0 20px 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.shop_box .shop_list li {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	width: 231px;
	float: left;
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	cursor: pointer;
	margin: 3px 2px;
	}
.shop_box .shop_list li img {
	width: 100%;
	height: 124px;
	margin-bottom: 10px;
	}
.shop_box .shop_list li a:hover, .shop_box .shop_list li a:active { color: #b35357; }
.shop_box .shop_list li div:last-child { display: flex; }
.shop_box .shop_list li div:last-child span { flex-grow: 1; }
.shop_box .shop_list li div:last-child i {
	display: block;
	width: 26px;
	height: 16px;
	background: url("../images/icon.png") no-repeat -295px -91px;
	margin-top: 3px;
	}
/* 合作伙伴 */
.partent_box { margin-bottom: 26px; }
.partent_box h6 {
	position: relative;
	font-size: 22px;
	font-family: '黑体', 'SimHei', Arial, Helvetica, sans-serif;
	line-height: 66px;
	text-indent: 75px;
	margin-bottom: 40px;
	}
.partent_box h6:before {
	content: '';
	width: 66px;
	height: 66px;
	display: block;
	position: absolute;
	background: url("../images/icon.png") no-repeat -295px -122px;
	}
.partent_c {
	width: 100%;
	overflow: hidden;
}
.partent_c li {
	text-align: center;
	width: 14.28%;
	float: left;
}
@media screen and (min-width: 0px) {
	.leftBox > .box {
		background-color: rgba(0, 0, 0, .7);
	}
	.title:after {
		transform: rotate(45deg);
	}
}

.indexbg{background-color: #EFEFF5;}
/*--------------------------------------------------content--------------------------------*/
#content{height: 130px;}
#content>li{float: left;width: 300px;height: 100%;}
#content>li>img{display: block;margin: 40px 14px 0 64px;}
#content>li>div{display: block;margin-top: 48px;}
#content>li>div,#content>li>img{float: left;}
#content>li>div>p{font-size: 18px;}
#content>li>div>span{font-size: 15px;}
.hsdiv{width: 90%;border: 1px solid #e6e6e6;}
.hsdiv p{font-size: 18px; padding-top: 10px;}
.hsdiv small{font-size: 14px;color: #9F9F9F;}

.main_content_js {
    border:none;
    padding-bottom: 65px;
    margin-bottom: 28px;
    box-shadow: none;
}
.main_content_js .t_nav_right li{background-color: #F2F2F2;}
.main_content_js .t_nav_right li.active{background-color: #e1882a;}
/*.liu4{border-right: 1px solid #CCCCCC;width:570px;}*/
.jsform{padding-left:30px;padding-right:70px;}
.pure-form label {color:#969696;}
.pure-form legend {border-bottom: none;font-size:16px;}
.pure-form legend small{color:#969696;font-size:14px;}
.pure-form legend { padding: 0; margin-bottom: 0; }
.mybutton{margin-top:15px;background-color: #e1882a;}
.storeimg{padding-left:10px;}
.store-content p{padding-left:20px;padding-bottom:10px;}
.store_name{font-size:22px;color:#047AF5;}
.store_subname{font-size:16px;}
.store_label{font-weight: bold;font-size:16px;}
.paddr{padding-top:25px;}
.store_ywfw,.store_hsdbb_content,.store_addr,.store_phone,.store_time{font-size:16px;color:#9A9A9A;}
.store_phone{color:#E25656;font-style: italic;}
.store_js_1{padding-bottom:20px;border-bottom: 1px solid #047AF5;}
.store_js{padding-bottom:10px;border-bottom: 1px solid #047AF5;}
.store_js_2{padding-top:20px;}
.hotnews p{padding-left:20px;padding-bottom:10px;color:#8A8A8A;line-height: 25px;}
.hotnews .news_title{font-size:22px;font-weight: bold;padding-top: 11px;}
.hotnews .news_desc{width:500px;padding-bottom: 60px;}
.hotnews ul{border-top:1px solid #047AF5;}
.hotnews ul li{height:42px;line-height:42px;border-bottom:1px solid #D6D6D6;}
.hotnews ul li span{color: #047AF5;padding-right:10px;}
.ssindex ul li{display: inline;padding-left:15px;}
.myshop .t_nav_right li {
    display: table;
    position: relative;
    /*padding-right: 68px;*/
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    width: 171.4px;
    text-align: center;
    font-size: 16px;
}
.myshop .t_nav_right span{padding-left:10px;font-family: '微软雅黑', 'Microsoft YaHei', Arial, Helvetica, sans-serif;}
.myshop .hsdiv{border-bottom: none;padding-bottom:10px;}
.myshop .hsdiv img{width:200px;height:200px;}
.myshop .hsdiv p{font-size:14px;height: 67px;}
.myshop_pricediv div:first-child{float:left;border:1px dashed #C37F70;border-right: none;color:red;font-size:16px;}
.myshop_pricediv div:last-child{float: left;
    width: 86px;
    background: #C37F70;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    color: #fff;
}
.pb10{padding-bottom: 10px;}
.t_nav_right a:hover{color:#fff;}
.t_nav_right li.active a{color:#fff;}

.mystoretj .t_nav_right li {
	display: table;
	position: relative;
	/*padding-right: 68px;*/
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	width: 171.4px;
	text-align: left;
	font-size: 18px;
    padding-left:25px;
}
.mystoretj .t_nav_right span{padding-left:10px;}
.mystoretj {
    border: none;
    box-shadow: none;
    padding-bottom:0;
    margin-bottom:0;
}
.mdjs{width:1158px;}
.myshop li .pure-g{width:918px;}
.myshop_pricediv{width:243px;}
.indexjm{width:1200px;}
.banner_nav_button img:hover{opacity: 0.9;}
#quickEstimateBtn{margin-left: 56px;}
#estimateQuickLi{padding-top:40px;}

.quickEstimateBrand{height:150px;overflow-y:scroll;}
        #chooseCity{padding: 15px; text-align: center;display:none;}
        #chooseCity p{padding-bottom:20px;font-size:14px;}
        #chooseCity p:first-child{padding-top:20px;font-size:18px;}
        #chooseCity p:last-child{padding-top:15px;}
        #chooseCity .realCity{display: inline-block;width: 150px;height: 40px;line-height: 40px;background: #00A298;color: #fff;}
        #chooseCity .oriCity{display:inline-block;width:150px;height: 40px;line-height:40px;background: #858585;color:#fff;margin-left:20px;}
        #chooseCity img{vertical-align: middle;}
        #chooseCity a{color:#fff;}
        #chooseCity a:hover{color:#FFFF00;}
        .newsmarquee{height:168px;overflow:hidden;}
        .hzhb{width:1198px;height:87px;overflow: hidden;text-align: center;}
        .hzhb ul li{float:left;width:162px;padding-left:10px;}
        .hzhb ul li img{display:block;}
        .pro-slide{ position:relative;height: 140px;width: 1107px;margin-left: 47px;}
        .border-dash{height: 1px; width:98%;border-bottom: 1px dashed #f3d2a6;position: absolute;top: 72px;left: 0;z-index: 0;}
        .pro-slide ul{padding-top: 30px;margin-left: -71px;position: absolute;z-index: 2;width: 1200px;}
        .pro-slide ul li{ float: left;width: 71px;height: 72px;margin-left: 66px; position:relative;}
        .pro-slide ul li.act{  margin-right:-10px;}
        .pro-slide ul li b{ position:absolute; left:-29px; top:37px; z-index:5; display:inline-block; width:10px; height:11px;background:url(${mybaseurl}/res/images/v2/yh_tit.png) no-repeat; background-position:0 -236px;}

        .pro-slide .JText{width: 297px;border: 1px solid #f3941f;border-radius: 2px;background-color: #fff;padding: 10px;line-height: 16px;color: #666; display:none; overflow:hidden;position:absolute; right:0; top:8px;font-size: 12px;}
        .pro-slide .JText:first-child,.pro-slide .JText:last-child{top:3px;}
        .skSmallStyle .JText{ width:216px;}
        .pro-slide ul li.act .JText{/* display:block*/}
        .Jicon{width: 92px; height:130px; text-align:center; font-family:"微软雅黑"; margin:6px 0 0; color:#666;font-weight: bold;}
        .Jicon em{width: 71px; height:72px; margin-bottom:1px; display:inline-block;background: url(${mybaseurl}/res/images/v2/yh_tit.png) no-repeat;margin-right: 8px;}
        .Jicon em.Jicon01{ background-position:0 -72px;}
        .Jicon em.Jicon02{ background-position:-72px -72px;}
        .Jicon em.Jicon03{ background-position:-144px -72px;}
        .Jicon em.Jicon04{ background-position:-0 -144px;}
        .Jicon em.Jicon05{ background-position:-72px -144px;}
        .Jicon em.Jicon06{ background-position:-144px -144px;}
        .clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{zoom:1}*:first-child+html .clearfix{zoom:1}
        .banner_box {
					  width: 100%;
					  height: 500px;
					  position: relative;
					}
					.swiper-container {
					  height: 500px;
					  width: 100%;
					}
					.content-slide {
					  padding: 20px;
					  color: #fff;
					}
					.title {
					  font-size: 25px;
					  margin-bottom: 10px;
					}
					.pagination {
					  position: absolute;
					  z-index: 20px;
					  left: 0;
					  text-align: center;
					  bottom:5px;
					  width: 100%;
					}
					.swiper-pagination-switch {
					  display: inline-block;
					  width: 15px;
					  height: 15px;
					  border-radius: 15px;
					  background: #999;
					  box-shadow: 0px 1px 2px #555 inset;
					  margin: 0 3px;
					  cursor: pointer;
					}
					.swiper-active-switch {
						 background: #e1882a;
					}
.reclaim-box *{
				text-decoration: none;
				color: #ffffff;
				font-size: 30px;
				font-family: "微软雅黑";	
			}
			/*.body-box{
				background-color: #fafafa;
				padding: 105px 0;
			}*/
			.img-box{
				border: #e9b17e 4px solid;
				margin-bottom: 10px;
			}
			.container{
				width: 1200px;
				margin:0  auto;	
			}
			.reclaim-box a{
				width: 100%;
				height: 100%;
				text-align: center;	
				background-color: rgb(148,202,238);
			}
			.reclaim-box img:hover{
				opacity: 0.15;
			}
			.img-box-static img:hover{
				opacity: 1;
			}
			.reclaim-box{
				margin-bottom: 20px;
			}